<p>Your BotChain Developer application was denied by the BotChain Curation Council.</p>
<p>You can try reapplying or contact <a href="mailto:support@botchain.network?Subject=BotChain%20Developer%20registration%20denied!" target="_top">support@botchain.network</a> for additional details.</p>
