<h3>Congratulations! Welcome to BotChain.</h3>

<p>Your Developer Registration has been approved. You can now register your AI Software and software instances on to BotChain. By registering in BotChain, you will have an established verifiable identity (ownership & reputation) for all of your AI software and software instances.</p>
