<p>Your BotChain Developer Registration has been denied. This can happen due to a variety of reasons.</p>
<p>You can reapply at any time at <a href="<%= root_url %>"><%= root_url %></a> or contact <a href="mailto:support@botchain.network?Subject=BotChain%20Developer%20registration%20denied!" target="_top">support@botchain.network</a> for additional details.</p>
