<h3>Congratulations! Welcome to BotChain.</h3>

<p>
  <span>
    Your Developer Registration has been approved. <br/>
    You can now register your AI Software and software instances on to BotChain. <br/>
    By registering on BotChain, you will have an established verifiable identity (ownership & reputation) for all of your AI software and software instances.
  </span>
</p>

<p><a href="<%=  products_url %>">Click here</a> to get started.</p>
