@import './base.scss';
@import './forms.scss';
@import './modal.scss';
@import './loader.scss';
@import './developer.scss';
@import './wallet.scss';

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: normal;
  height: 75px;

  .logo {
    color: white;
    padding: 65px 1rem 1rem;
    text-indent: -1000em;
    background-image: asset_url('logo_sm.png');
    background-repeat: no-repeat;
    background-size: 155px auto;
    background-position: left center;
    width: 180px;
    height: 20.5px;
    margin-left: 25px;
  }

  >div {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    a {
      position: relative;
      color: $light-green;
      padding: 32px 20px 0;
      letter-spacing: 0.02em;
      display: inline-block;
      white-space: nowrap;
      &:hover, &:active, &.active {
        color: white;
      }
    }
    &.right-nav {
      flex-grow: 1;
      justify-content: flex-end;
      a {
        &:last-child {
          margin-right: 5px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.alert {
  padding: 15px 40px;
  margin-bottom: 10px;
  border-radius: 0;
  color: $alert;
  border: 1px solid $alert-border;
  background: $alert-bg asset_url('error.png') no-repeat 13px 18px;
  max-width: 470px;
  text-align: left;
  display: inline-block;

  ul {
    margin: 0;
    padding-left: 0;
  }
}

.alert-info {
  background-color: $alert-blue-bg;
  border-radius: 0;
  border: none;
  color: $alert-blue;
  line-height: 1.8em;
  margin-top: 25px;
  padding: 5px 13px 10px;
  text-align: left;
  font-weight: 500;
  display: inline-block;
}

ul li {
  list-style-type: none;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  background-color: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
th {
  text-align: left;
}
td, th {
  padding: 0;
  text-align: left;
}

.faq {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 50px;
  background-color: #fff;
  color: #546277;
  padding: 0 25px;
  overflow: hidden;

  h1,h2,h3 {
    font-style: normal;
  }

  h1 {
    font-size: 3.75em;
  }

  h2{
    font-size: 2.5em;
    font-style: normal;
    letter-spacing: 0.01em;
    font-weight: 500;
    line-height: 1em;
    margin: 50px 0;
  }

  h3 {
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.15em;
  }

  p{
    font-size: 1.125em;
    line-height: 1.66em;

    a {
      color: #2F80ED;
    }
  }
  ol,ul {
    font-size: 1.125em;
    line-height: 1.66em;
    display: block;
    li {
        list-style-type: disc;
    }

    ol,ul {
      font-size: 1em;
    }
    .no-disk {
      list-style-type: none;
    }
  }

  pre {
    border: none;
    border-radius: 0;
    padding-bottom: 0;
    background: #f3f4f5;
  }

  code {
    background: #f3f4f5;
    border-radius: 0;
    color: inherit;
  }
}
