@import url("https://use.typekit.net/fnn1wzh.css");
@import './colors.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Soleil', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  background-color: $botcoin-green;
  color: $state;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  position: relative;
}

.white-container {
  background: white;
  border-radius: 13px;
  min-height: calc(100vh - 165px);
  overflow-y: auto;
}

.inner-container {
  padding: 25px 25px 70px 80px;

  p.botcoin-green {
    margin-top: 0;
  }
}

.footer {
  height: 90px;
}

footer {
  height: 90px;
  color: $light-green;
  font-size: 0.875em;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 25px;
  position: absolute;
  bottom: 0;
}

.welcome {
  background-color: $light-green;
  min-height: 225px;
  border-bottom: 2px solid $border-green;
  padding: 25px 25px 20px 80px;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    max-width: 540px;
    line-height: 1.75em;
    font-weight: 400;
    margin-top: 2px;
  }
  a {
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    border-bottom: 1px solid $gray-input;
    line-height: 1.6em;
  }
}

a {
  text-decoration: none;
  color: $link-blue;
  &:hover, &:active {
    color: $blue-hover-link;
  }
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 30px;
  &.green-text {
    text-transform: uppercase;
  }
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 0.9375em;
}

.centered {
  display: block;
  width: 630px;
  margin: 0 auto;
}
.wallet-nav {
  text-align: center;
  a {
    color: white;
    &.active {
      text-decoration:underline;
    }
  }
}

.sign-in, .sign-up {
  .alert {
    max-width: 390px;
  }
}
.sign-up {
  padding-top: 0px;

  h1 {
    margin-bottom: 10px;
  }

  form{
    margin-top: 25px;
  }
}

.registration {
  h1 {
    margin-bottom: 5px;
  }
  form{
    .input {
      max-width: 480px;
      input {
        max-width: 480px;
      }
    }
  }
}

.settings {
  h1 {
    margin-bottom: 30px;
  }
  form {
    margin-bottom: 40px;
  }
  p {
    margin-top: 2px;
    max-width: 570px;
    line-height: 1.6em;
    margin-bottom: 8px;
  }
  h3 {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
