@import url("https://use.typekit.net/fnn1wzh.css");

$botcoin-green: #00BC90;
$green: #20A284;
$light-green: #D9FAF2;
$state: #32373E;
$border-green: #ABEBDC;
$link-blue: #002CBC;
$gray-input: rgba(29,32,36,.13);
$blue-hover-link: #2463C7;

.green-text {
  color: #20A284;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Soleil', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  background-color: $botcoin-green;
  color: $state;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  position: relative;
}

.white-container {
  background: white;
  border-radius: 13px;
  height: calc(100vh - 165px);
  padding-bottom: 70px;
  overflow-y: auto;
}

.inner-container {
  padding: 25px 25px 70px 80px;
}

.footer {
  height: 90px;
}

footer {
  height: 90px;
  color: $light-green;
  font-size: 0.875em;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 25px;
  position: absolute;
  bottom: 0;
}

.welcome {
  background-color: $light-green;
  min-height: 225px;
  border-bottom: 2px solid $border-green;
  padding: 25px 25px 20px 80px;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    max-width: 540px;
    line-height: 1.75em;
    font-weight: 400;
    margin-top: 2px;
  }
  a {
    color: $link-blue;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid $gray-input;
    line-height: 1.6em;

    &:hover, &:active {
      color: $blue-hover-link;
    }
  }
}

a {
  text-decoration: none;
  color: #108db8;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 30px;
  &.green-text {
    text-transform: uppercase;
  }
}

h2 {
  font-size: 1.25em;
}

.logo {
  text-indent: -1000em;
  background-image: asset_url('logo_sm.png');
  background-repeat: no-repeat;
  background-size: 155px auto;
  background-position: left center;
  width: 155px;
  height: 20.5px;
  margin-left: 25px;
}

.centered {
  display: block;
  width: 630px;
  margin: 0 auto;
}
.wallet-nav {
  text-align: center;
  a {
    color: white;
    &.active {
      text-decoration:underline;
    }
  }
}

.sign-in, .sign-up {
  .alert {
    max-width: 390px;
  }
}
.sign-up {
  padding-top: 0px;

  form{
    margin-top: 25px;
  }
}
