@import './colors.scss';

@mixin form-button ($color, $font-color: white) {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $color;
  background: $color;
  color: $font-color;
  font-weight: 400;
  font-size: 0.875em;
  text-shadow: none;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover {
    color: $font-color;
    border: 1px solid $color;
    background: $color;
    outline: none;
    text-decoration: none;
  }
  &:disabled {
    background: $gray-gradient3;
    border-color: $gray-gradient3;
    &:hover, &:focus{
      background: $gray-gradient3;
      border-color: $gray-gradient3;
    }
  }
}

.orange-button{
  @include form-button($orange);
  &:hover, &:focus{
    border-color: $botcoin-green;
    background: $botcoin-green;
  }
  &:active, &:active:focus, &:active:hover {
    background: $active-green;
    border-color: $active-green;
  }
}

.default-button{
  @include form-button($gray-border, $gray-text);
  background: linear-gradient($gray-gradient1, $gray-gradient2);
  &:hover, &:focus{
    color: $gray-text-hover;
    border-color: $gray-border-hover;
    background: linear-gradient($gray-gradient1, $gray-gradient3);
  }
  &:active, &:active:focus, &:active:hover {
    color: $gray-text-hover;
    background: $gray-gradient1;
    border-color: $gray-gradient1;
  }
  &.cta-button {
    font-weight: 600;
    padding: 0 12px;
  }
}

.gray-button {
  @include form-button($gray-text-hover, $lighter-gray);
  &:hover, &:focus{
    color: white;
    border-color: $gray-text;
    background: $gray-text;
  }
  &:active, &:active:focus, &:active:hover {
    color: white;
    background: $placeholder;
    border-color: $placeholder;
  }
}

.cta-button {
  height: 40px;
  min-width: 110px;
  letter-spacing: 0.08em;
  margin-top: 5px;
  line-height: 40px;
  padding: 0 27px;
}

.big-button {
  height: 48px;
  max-width: 148px;
  letter-spacing: 0.08em;
  line-height: 48px;
  padding: 0 27px;
  font-size: 1.125em;
  text-transform: uppercase;
}

.medium-button {
  height: 36px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 0 15px;
}

.small-button {
  height: 32px;
  line-height: 32px;
  min-width: 114px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 0 15px;
}

.width-100 {
  min-width: 100px;
}

.width-86 {
  min-width: 86px;
}
