$orange: #FF6F59;
$gray-text: #757B83;
$gray-border: rgba(29,32,36,.22);
$gray-text-hover: #60676F;
$gray-border-hover: rgba(29,32,36,0.69);
$lighter-gray: #E1E2E4;
$placeholder: #8B9096;
$gray-gradient1: #F6F7F7;
$gray-gradient2: #E1E2E4;
$gray-gradient3: #CBCED0;
$botcoin-green: #00BC90;
$active-green: #3ABCA5;
$check-green: #00A37D;
$red: #E95858;
$red-hover: #C24C3A;
$red-active: #DF3C3C;
$overlay:rgba(29,32,36,.86);
$black: #1D2024;
$ethereum: #6F7CBA;
$botcoin-title: #D0AF00;
$botcoin: #BEA107;
$input-bg: rgba(246,247,247,.5);
$gray-input: rgba(29,32,36,.13);
$state: #32373E;
$green-input-text: #138F72;
$green-bg: #DAFCF4;
$error: #DF3C3C;
$error-border:#FFDBD5;
$error-bg: #FFF1EE;
$error-gray-input: rgba(29,32,36,.03);
$error-placeholder: #E98080;
$alert: #FF000F;
$alert-bg: rgba(255,0,15,.1);
$alert-border: rgba(255,0,15,.2);
$gray-label: #B6B9BD;
$gray-link: #CBCED0;
$botcoin-green: #00BC90;
$botcoin-cover: rgba(0,188,144,.8);
$botcoin-gold: #C2A900;
$green: #20A284;
$light-green: #D9FAF2;
$state: #32373E;
$border-green: #ABEBDC;
$link-blue: #002CBC;
$gray-input: rgba(29,32,36,.13);
$blue-hover-link: #2463C7;
$alert-blue: #273399;
$alert-blue-bg: #EBEEFF;
$gold: #D1B215;
$gold-bg: #FFF9DE;
$gold-border: #FFEB87;

.green-text {
  color: $green;
}

.botcoin-green {
  color: $botcoin-green;
}

.gold {
  color: $gold;
}

.gray-text {
  color: $gray-text;
}

.ethereum, .eth {
  color: $ethereum;
}

.botcoin {
  color: $botcoin-gold;
}

.botcoin-title, .botc {
  color: $botcoin-title;
}
