input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

form {
  display: block;
  max-width: 630px;
  width: 100%;

  .form-group {
    margin-bottom: 5px;
    min-height: 48px;
    position: relative;

    .tooltip1 {
      left: 76%;
      position: absolute;
      top: 14px;
      z-index: 1;

      @media(max-width : $screen-sm-max) {
        left: 77%;
      }

      @media(max-width : $screen-xs-max) {
        left: 80%;
      }

      > div {
        cursor: pointer;
        margin-left: 10px;
        min-height: 18px;
        min-width: 18px;
        &:hover {
          span {
            background-position: right center;
          }
          .popup {
            display: block;
          }
        }

        span {
          display: block;
          height: 18px;
          width: 18px;
          background-image: asset_url('question.png');
          background-repeat: no-repeat;
        }

        .popup {
          background-color: $gray-gradient1;
          color: $gray-text-hover;
          display: none;
          font-size: 0.875em;
          margin-left: 35px;
          margin-top: -45px;
          padding: 15px;
          width: 315px;
          border: 2px solid $lighter-gray;
          border-radius: 7px;
          font-weight: 500;

          &:before {
            border-color: transparent $lighter-gray transparent transparent;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            content: ' ';
            height: 0;
            left: 35px;
            position: absolute;
            top: 0px;
            width: 0;
          }
          &:after {
            border-color: transparent $gray-gradient1 transparent transparent;
            border-style: solid;
            border-width: 9px 9px 9px 0;
            content: ' ';
            height: 0;
            left: 38px;
            position: absolute;
            top: 1px;
            width: 0;
          }

          @media(max-width : $screen-sm-max) {
            width: 140px;
          }

          @media(max-width : $screen-xs-max) {
            width: 200px;
            margin-left: -210px;
            margin-top: -65px;
            &:before {
              border-color: transparent transparent transparent $lighter-gray;
              border-width: 10px 0 10px 10px ;
              left: 0;
            }
            &:after {
              border-color: transparent transparent transparent $gray-gradient1 ;
              border-width: 9px 0 9px 9px;
              left: -3px;
            }
          }

          a {
            color: $link-blue;
            &:hover, &:active {
              color: $blue-hover-link
            }
          }
        }
      }
    }
  }

  label {
    font-weight: 400;
    font-size: 0.875em;
    display: none;
    margin: 0;
    color: $gray-label;
    max-width: 100%;
  }

  input.form-control {
    max-width: 390px;
    background-color: $input-bg;
    border: 2px solid $gray-input;
    box-shadow: inset 0 0 5px $gray-input;
    height: 48px;
    color: $state;
    line-height: 23px;
    font-size: 1em;
    border-radius: 6px;
    font-weight: 500;
    &:not(:placeholder-shown) {
      padding-top: 13px;
      &+label{
        display: block;
        color: $placeholder;
        font-size: 0.625em;
        padding: 0 0 0 15px;
        letter-spacing: 0.1em;
        position: relative;
        top: -42px;
        margin-bottom: -15px;
        text-transform: uppercase;
      }
    }

    &[readonly] {
      &.green-input {
        color: $green-input-text;
        background: $green-bg;
        padding-top: 0;
        max-width: 430px;
      }
    }

    &:placeholder-shown {
      color: $placeholder;
      padding-top: 0;
      font-weight: 300;
    }

    &.error {
      color: $error;
      border-color: $error-border;
      background-color: $error-bg;
      box-shadow: inset 0 0 5px $error-gray-input;
      &:placeholder-shown {
        color: $error-placeholder;
      }

      &:not(:placeholder-shown) {
        &+.validation-error {
          &+label {
            display: block;
            color: $error-placeholder;
            font-size: 0.625em;
            padding: 0 0 0 15px;
            letter-spacing: 0.1em;
            top: -63px;
            position: relative;
            margin-bottom: -15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .checkbox {
    margin-bottom: 20px;
    input[type="checkbox"] {
      height: 16px;
      width: 16px;
      border: 1px solid $gray-input;
      margin: 0 15px 0 0;
      vertical-align: top;
      position: absolute;
      opacity: 0;
      border-radius: 4px;
      &+label {
        cursor: pointer;
        display: inline-block;
      }
      &:not(checked){
        &+label {
          position: relative;
          padding: 0 0 0 25px;
          font-weight: 400;
          font-size: 1em;
          text-transform: none;
          color: $state;
          letter-spacing: 0.01em;
          margin-bottom: -45px;
          margin-top: 0;
          max-width: 300px;
          &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 1px solid $gray-input;
            box-shadow: 0 0 5px $error-gray-input;
            background: white;
            border-radius: 4px;
          }
        }
        &:hover {
          &+label:before {
            background: $check-green;
            border: 2px solid $check-green;
          }
        }
      }
      &:checked {
        &+label:before {
          background: $check-green asset_url('check.png') no-repeat -11px 2px;
          border: 2px solid $check-green;
        }
        &:hover {
          &+label:before {
            background: white asset_url('check.png') no-repeat 1px 2px;
          }
        }
      }
    }
    .validation-error {
      margin-top: 0;
    }
  }

  button {
    margin-top: 3px;
  }

  .validation-error {
    font-size: 0.875em;
    color: $error-placeholder;
    margin: 0;
    display: block;
  }
}

textarea {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  line-height: 1.25em;
  border: none;
  border-radius: 0;
  padding: 15px 15px;
  color: $state;
  width: 100%;
  max-width: 570px;
  background-color: $gray-gradient1;
  resize: none;
  overflow-x: auto;
  display: block;
  &::placeholder {
    color: $placeholder;
  }
}

.validation-error {

  h3 {
    font-size: 1.375rem;
    margin-bottom: 0px;
  }

  ul {
    padding-left: 0;
    margin-top: 10;
  }
}
