@import './buttons.scss';

@mixin shadow {
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.5);
}

form {
  display: block;
  width: 630px;

  .input {
    margin-bottom: 5px;
    min-height: 48px;
  }

  label {
    font-weight: 400;
    font-size: 0.875em;
    display: none;
    margin: 0;
    color: $gray-label;
    max-width: 100%;
  }

  input {
    display: block;
    width: 100%;
    max-width: 390px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 2px solid $gray-input;
    box-shadow: inset 0 0 5px $gray-input;
    height: 48px;
    color: $state;
    line-height: 23px;
    font-size: 1em;
    border-radius: 6px;
    font-weight: 500;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:not(:placeholder-shown) {
      padding-top: 13px;
      &+label{
        display: block;
        color: $placeholder;
        font-size: 0.625em;
        padding: 0 0 0 15px;
        letter-spacing: 0.1em;
        position: relative;
        top: -42px;
        margin-bottom: -15px;
        text-transform: uppercase;
      }
    }

    &[readonly] {
      &.green-input {
        color: $green-input-text;
        background: $green-bg;
        padding-top: 0;
        max-width: 430px;
      }
    }

    &:placeholder-shown {
      color: $placeholder;
      padding-top: 0;
      font-weight: 300;
    }

    &.error {
      color: $error;
      border-color: $error-border;
      background-color: $error-bg;
      box-shadow: inset 0 0 5px $error-gray-input;
      &:placeholder-shown {
        color: $error-placeholder;
      }

      &:not(:placeholder-shown) {
        &+.validation-error {
          &+label {
            display: block;
            color: $error-placeholder;
            font-size: 0.625em;
            padding: 0 0 0 15px;
            letter-spacing: 0.1em;
            top: -63px;
            position: relative;
            margin-bottom: -15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  button {
    margin-top: 3px;
  }

  .validation-error {
    font-size: 0.875em;
    color: $error-placeholder;
    margin: 0;
    display: block;
  }
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

form, form select, form textarea {
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  font-size: 18px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  padding: 15px 15px;
  &::placeholder {
    color: #cccccc;
  }
}

form .checkbox {
  input {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 10px 10px 15px 0;
    vertical-align: middle;
  }
  label {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
  }
}

.white-button {
  color: #00bb90;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  max-width: 180px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
  cursor: pointer;
  &:hover {
    background-color: rgba(255,255,255,0.95);
  }
}

.white-button {
  margin: 0 10px 15px;
  display: inline-block;
  width: 100%;
}

button.primary {
  background-color: #0854cc;
  border-color: #0854cc;
  color: #fff;
  white-space: nowrap;
}

form .input {
  // position: relative;
  .tooltip {
    left: 100%;
    position: absolute;
    top: 30px;
    z-index: 1;
    > div {
      background-image: asset_url('question.png');
      background-position: left 15px;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      cursor: pointer;
      margin-left: 15px;
      min-height: 36px;
      min-width: 21px;
      .popup {
        &:before {
          border-color: transparent #fff transparent transparent;
          border-style: solid;
          border-width: 15px 15px 15px 0;
          content: ' ';
          height: 0;
          left: 40px;
          position: absolute;
          top: 10px;
          width: 0;
        }
        @include shadow;
        background-color: #fff;
        color: #223450;
        display: none;
        font-size: 14px;
        margin-left: 40px;
        padding: 20px;
        width: 150px;
        a.button {
          background-color: #00aae7;
          border-radius: 5px;
          border: none;
          color: #ffffff;
          display: block;
          font-weight: bold;
          margin: 1rem auto;
          padding: 10px 20px;
          text-align: center;
          width: 50%;
        }
      }
      &:hover .popup {
        display: block;
      }
    }
  }
}
.search-form {
  margin-top: 90px;
}
a.button {
  background-color: #00aae7;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  margin: 1rem auto;
  padding: 10px 20px;
  text-align: center;
  width: auto;
}

.submit-field {
  text-align: center;
}

.other-links {
  text-align: center;
  a {
    color: rgba(255,255,255,0.9);
    font-size: 0.875rem;
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}

.password-reset {
  p {
    width: 630px;
    margin: 0 auto;
  }
}

.validation-error {

  h3 {
    font-size: 1.375rem;
    margin-bottom: 0px;
  }

  ul {
    padding-left: 0;
    margin-top: 10;
  }
}
