nav {
  letter-spacing: 0.01em;
  .navbar-right {
    margin-right: -25px;
  }

  .nav {

    li {
      a {
        color: $light-green;

        &:hover, &:active, &:focus, &.active {
          color: white;
        }
      }
    }
  }

  li {
    a:focus, a:hover {
      color: white;
    }
  }
}

.navbar {
  margin-bottom: 0;
  min-height: 46px;

  &.navbar-inverse {
    background: transparent;
    border: none;
    box-shadow:none;
    .navbar-nav {
      li {
        a {
          margin: 25px 20px 0;
          padding: 8px 0 10px;
          color: $light-green;

          &:hover, &:active, &:focus, &.active {
            background-color: inherit;
            color: white;
          }
        }
        &.active, &.open {
          a {
            color: white;
            background: inherit;
            box-shadow: none;
          }
        }
      }
      .network-switcher{
        .dropdown-toggle{
          padding: 7px 9px 9px 24px;
          border: 1px solid $light-green;
          border-radius: 20px;
          &::before{
            display: inline-block;
            position: absolute;
            content: "";
            border: 1px solid $light-green;
            border-radius: 6px;
            width: 10px;
            height: 10px;
            top: 12px;
            left: 10px;
          }
        }
        &.kovan .dropdown-toggle::before{
          background-color: $network-kovan;
        }
        &.mainnet .dropdown-toggle::before{
          background-color: $network-mainnet;
        }
        .dropdown-menu{
          right: 18px;
          li{
            a{
              margin: 0;
              padding: 8px 20px 10px;
              color: $wallet-link;
              &:hover, &:active, &:focus, &.active {
                background-color: $light-green;
                color: $wallet-link-active;
              }
              &::before{
                display: inline-block;
                position: relative;
                content: "";
                border: 1px solid white;
                border-radius: 6px;
                width: 10px;
                height: 10px;
                top: -1px;
                left: -4px;
              }
            }
            &.kovan a::before{
              background-color: $network-kovan;
            }
            &.mainnet a::before{
              background-color: $network-mainnet;
            }
          }
        }
      }
      &.navbar-right {
        li.active {
          display: none;
        }
      }
    }
  }

  .container, .container-fluid {
    .navbar-header {
      .navbar-toggle {
        padding: 26px 0 15px;
        border: none;
        &:hover, &:active, &:focus, &.active {
          background-color: inherit;
        }

        .icon-bar {
          background-color: white;
          border-radius: 2px;
          height: 3px;
          margin-bottom: -1px;
        }
      }

      .navbar-brand {
        display: inline-block;
        padding: 0;
        margin: 30px 30px 23px 10px;
        background: asset_url('logo_sm.png') no-repeat left center / 155px auto;
        width: 155px;
        height: 20.5px;
      }
    }
  }
}

@media(max-width : $screen-xs-max) {
  .navbar {
    .container, .container-fluid {
      .navbar-collapse.in, .navbar-collapse.collapsing {
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
        border: none;
        box-shadow: none;
        padding: 0;
        background-color: $botcoin-cover;
        height: calc( 100vh - 74px );
        position: absolute;
        z-index: 100;
        width: 100%;

        .navbar-nav {
          margin-right: 20px;

          li {
            padding: 7px 0 7px 40px;
            &.active {
              a {
                text-decoration: underline;
              }
            }

            a {
              padding: 0;
              font-size: 1.125em;
              border-bottom: none;
              margin: 0;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .navbar-header {
        .navbar-brand {
          margin-left: 25px;
        }
      }
    }
  }
}
