.col-30 {
  float: left;
  width: 30%;
}
.col-70 {
  float: left;
  width: 70%;
}


.information-row {
  margin: 20px 0;
  .col-70 {
    border-bottom: 1px solid #fff;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.qr_image, .deposit-address {
  text-align: center;
  margin: 15px 0;
}
